* {
    margin: 0;

}


.texte1 {
  top: 148px;
  font-size: 36px;
  margin-right: 2em;


}

.texte2 {
  font-size: 22px;
  margin-left: 1em;


}


.texte3 {
  font-size: 15px;
  margin-right: 2em;
  width:auto ;

}



.flexible {
    display: flex;
    align-items: flex-start;
    margin: 10em;

}
.flexible div {padding: 1em}


.button1 {
  width: 200px;
  max-width: 100%;
  height: 50px;
  background-color: BLACK;
  color: WHITE;
}



.button2 {
  width: 160px;
  max-width: 100%;
  height: 50px;
  background-color: #2F80ED;
  color: WHITE;
}



.slider-container {
    position: relative;
    height: 700px;
    width: 100%;
    z-index: 12;
    overflow: hidden;
    margin-top: -100px;
}



.menu {
    position: absolute;
    right: 0;
    width: 100%;
    bottom: 0;
    text-align: center;
    top: 650px;
    z-index: 13;
}
.menu label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    max-width: 100%;
    height: 10px;
    background: black;
    border-radius: 50px;
    margin: 0 0.2em 2em;
    margin-bottom: 100%;
    z-index: 13;

}
.menu label:hover,.menu label:focus {
    background: #1c87c9;
}
.slide-input{
    opacity: 1;
}
.slide-img {
  display: inline-block;
  top: 130px;
  left: 100%;
  border-right: 0px;
  border: 1px solid grey;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  z-index: 10;
}


[id^="slide"]:checked + .slide-img {
    left: 0;
    z-index:12;
}

.texte {
  margin-right: -150px;
  width: 510px;
}

.number {
  width: 167px;
  max-width: 100%;
  height: 35px ;
  Border: black 1px solid;
  border-radius: 0px;
	font-size: 1.2em;
  padding: 6px 12px;
  text-align: center;
}

.deroulant {
  width: 167px;
  max-width: 100%;
  height: 50px ;
  Border: black 1px solid;
  border-radius: 0px;
	font-size: 1.2em;
  padding: 6px 12px;
  text-align: center;

}
